body {
    background-image: url('login\ signup.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
        background-size: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .container {
    max-width: 400px;
    padding: 20px;
  }
  
  .option-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
  }
  
  .option-container h2 {
    margin-bottom: 20px;
  }
  
  .options {
    display: flex;
    justify-content: center;
  }
  
  .options button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .options button:hover {
    background-color: #0056b3;
  }
  